/* Class Selectors */
.catpic1 {
    filter: blur(5px);
    scale:0.3;
rotate: 20deg;
}
.catpic2 {
    filter:hue-rotate(180deg);
scale: 0.2;
rotate: 60deg;
margin-top: -1600px;
}
.catpic3 {
    filter: grayscale(100%)
    blur(5px);
scale: 0.4;
rotate: 35deg;
margin-top: -3200px;
opacity: calc(1 - 0.2);
}
    
